﻿body {
    overflow-x: hidden;
}

.header-menu {
    font-size: 30px;
    color: #337ab7;
    padding: 7px;
}

.header-menu-icon {
    font-size: 45px;
    color: #337ab7;
    padding: 10px;
}


a:link, a:visited {
    text-decoration: none;
    color: #337ab7;
}

.icon-button {
    background-color: white;
    color: #337ab7;
}

    .icon-button:hover {
        background-color: white;
        color: black;
    }

.form-label {
    font-size: 18px;
    padding-right: 10px;
    color: lightslategray;
    margin-left: 10px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.modal.fade {
    opacity: 0.85;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

.rotate-icon {
    width: 16px;
    height: 16px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}