﻿
<div id="pnlHeader">
    <div class="card card-body" style="position: fixed;z-index: 10;">
        <i class="fa fa-linode header-menu-icon"></i><label for="txtNodes" class="header-menu">Social graph</label>
        <form>
            <div class="form-group">
                <label for="txtNodes" class="form-label">Nodes</label>
                <select class="form-control" id="txtNodes" style="width:100px;display:inline-block;"
                        data-ng-model="graphCtrl.nodesNumber">
                    <option ng-repeat="item in graphCtrl.nodesCountList" value="{{item}}">{{item}}</option>
                </select>
                <label for="txtLinks" class="form-label">Links</label>
                <select class="form-control" id="txtLinks" style="width:100px;display:inline-block;"
                        data-ng-model="graphCtrl.linksNumber">
                    <option ng-repeat="item in graphCtrl.linksCountList" value="{{item}}">{{item}}</option>
                </select>
                <label for="txtRenderers" class="form-label">Mode:</label>
                <select class="form-control" id="txtRenderers" style="width:100px;display:inline-block;"
                        data-ng-model="graphCtrl.renderer">
                    <option ng-repeat="item in graphCtrl.renderers track by $index" value="{{item}}">{{item}}</option>
                </select>
                <button type="submit" class="btn btn-primary" data-ng-click="graphCtrl.loadGraph()">
                    <i class="fa fa-search"></i>
                </button>

                <label class="form-label"
                       style="display:inline-block; padding:5px;font-weight:normal;color:slategray; font-size:16px;"
                       data-ng-model="graphCtrl.state.description">
                    <i data-ng-if="graphCtrl.state.running" class="fa fa-spinner rotate-icon"></i>
                    {{graphCtrl.state.description}}
                </label>
            </div>
        </form>
    </div>
</div>

<div id="wrapper">

    <div class="container-fluid-no-padding">
        <div id="3d-graph"></div>
        <div class="graph-data">
            <span id="graph-data-description"></span>
        </div>
    </div>
</div>

<div>
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h2 class="modal-title">Details</h2>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="form-label">Name:</label>
                            <label class="form-label">
                                {{graphCtrl.selectedNode.firstName + ' ' + graphCtrl.selectedNode.lastName}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="form-label">E-mail:</label>
                            <label class="form-label">
                                {{graphCtrl.selectedNode.email}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Address:</label>
                            <label class="form-label">
                                {{graphCtrl.selectedNode.address + ' - ' + graphCtrl.selectedNode.city + ' (' + graphCtrl.selectedNode.zipCode + ')' }}
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>



